<div class="container">
    <div class="row mt-5">
        <div class="col-md-9 col-md-offset-2">
            <div class="table table-bordered table-hober">
                <thead>
                    <tr> 
                        <th>n°</th>
                        <th>Firts Name</th>
                        <th>Last Name</th>
                        <th>Phone Number</th>
                        <th>Address</th>
                        <th>City</th>
                        <th>Country</th>
                        <th>Email</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </div>
        </div>

        <div class="col-md-3 col-md-offset-2">
            <div class="card">
                <div class="card-body">
                    <form action="/users" method="post">
                        <div class="form-group">
                            <label for="firstname">Firts Name:</label>
                            <input type="text" id="firstname" name="firstname" placeholder="Firt Name" required class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="lastname">Last Name:</label>
                            <input type="text" id="lastname" name="lastname" placeholder="Last Name" required class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="phonenumber">Phone Number:</label>
                            <input type="text" id="phonenumber" name="phonenumber" placeholder="Phone Number" required class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="address">Address:</label>
                            <input type="text" id="address" name="address" placeholder="Address" required class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="city">City:</label>
                            <input type="text" id="city" name="city" placeholder="City" required class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="country">Country:</label>
                            <input type="text" id="country" name="country" placeholder="Country" required class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="email">Email:</label>
                            <input type="text" id="email" name="email" placeholder="Email" required class="form-control">
                        </div>
                            <button type="submit" class="btn btn-outline-primary">Save User</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
